#header {
  width: 100%;
  min-height: 350px;
  background: url('https://images.pexels.com/photos/34577/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
    no-repeat fixed center;
  background-size: cover;
  letter-spacing: 0.2rem;
  color: #63a4ff;
  font-size: 2em;
  display: inline-block;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
