#header {
  width: 100%;
  background: url('https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
    no-repeat fixed center;
  height: 100vw;
  /*background-size: cover;*/
  letter-spacing: 0.2rem;
  color: #63a4ff;
  font-size: 2em;
  display: inline-block;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#title {
  height: 50%;
}

@media only screen and (max-width: 600px) {
  #header {
    display: flex;
    width: 100vw;
    min-height: 50vh;
    font-size: 1.5em;
    font-weight: bold;
    flex-direction: column;
    align-content: center;
  }
}
