@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

@import './header.css';
@import './navbar.css';
@import './main.css';
@import './notFound.css';
@import './progressbar.css';

body {
  /* https://uigradients.com/#Ash */

  background: white; /* fallback for old browsers */
  margin: 0;
  font-family: 'Quicksand:500', Arial, sans-serif;
  font-style: bold;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.2rem;
  color: black;
  text-align: center;
}
